body {
	font-family: Helvetica;
}

.hentry  {
	
	padding-top:28px;
	
	h1 {
		font-family: "news-gothic-std-1","news-gothic-std-2";
		font-weight:bold;
		font-size: 3.5em; /* 10 * 3.5 = 35 px */
	}
	
	header {
		margin-bottom: 28px;
	}
	
	time {
		font-size: 1.2em; /* 10 * 1.2 = 12px */
	}
	
	.entry-content {
		font-size: 1.8em; /* 10 * 1.8 = 18px */
		
		* {
			margin-bottom:28px;
		}
	}
}