@charset "utf-8";

html {
  height:100%;
}

body {
  background: white;
  border-top: 0.75em solid black;
}

a {
  color:#B0422A;
}

h1 {
  font-size:2.25em;
  color: black;
  text-transform: uppercase;
  font-family: "news-gothic-std-1","news-gothic-std-2",sans-serif;
}


h4 {
  font-family: "news-gothic-std-1","news-gothic-std-2",sans-serif;
}

#page-wrap {
  margin-top:5%;
}

#main-sidebar {
  float:right;
  text-align:right;
}

#byline span {
  color:lightgray;
  font: 0.8em serif;
  font-style:italic;
  font-weight:normal;
}

#article-wrap {
  padding-left:2em;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",serif;
  font-size:1.2em;
  color:#333;
}

#bio {
  color:#B0422A;
  font-size:0.8em;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",serif;
}

footer {
  border-top:1px solid #BBB;
  margin:0 3em;
}

@media screen and (max-width: 960px) {
  #page-wrap {
    margin-top:1%;
  }

  #main-sidebar {
    float:none;
    width:100%;
    text-align:center;
  }
}
