body {
  font-family: "minion-pro-1", "minion-pro-2";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "news-gothic-std-1", "news-gothic-std-2";
  font-weight: bold;
}
#page {
  background: none;
  width: 700px;
  overflow: visible;
}
#page header.name {
  padding: 40px 0px;
  height: 120px;
  width: 700px;
  text-align: center;
  position: fixed;
  background: white;
  z-index: 10;
  border-bottom: 1px solid #fdfdfd;
  -webkit-box-shadow: 0px 10px 10px white;
}
#page header.name h1 {
  font-size: 3.5em;
  /* 10 * 3.5 = 35 px */

}
#frame {
  background: white;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0px -10px 10px white;
}
#container {
  width: 100%;
  position: relative;
  top: 200px;
  left: 0;
  margin-left: 0;
}
.hentry {
  width: 600px;
  padding: 28px 50px 200px 50px;
}
.hentry h1 {
  font-size: 3.5em;
  /* 10 * 3.5 = 35 px */

}
.hentry header {
  margin-bottom: 28px;
}
.hentry header time {
  font-size: 1.2em;
  /* 10 * 1.2 = 12px */

  color: #999;
}
.hentry .entry-content p, .hentry .entry-content pre {
  font-size: 1.8em;
  /* 10 * 1.8 = 18px */

}
.hentry .entry-content pre {
  background-color: #EDEAE3;
  border: 1px solid #D4CCBD;
}
.hentry .entry-content pre code {
  background: transparent;
  border: 0px;
}
.hentry .entry-content h1,
.hentry .entry-content h2,
.hentry .entry-content h3,
.hentry .entry-content h4,
.hentry .entry-content h5,
.hentry .entry-content h6 {
  font-size: 2em;
  /* 10 * 2 = 20px */

}
.hentry .entry-content code {
  background-color: #EDEAE3;
  padding: 2px;
  border: 1px solid #D4CCBD;
}
.hentry .entry-content * {
  margin-bottom: 28px;
}
.hentry .entry-content p:first-child {
  font-size: 2.2em;
  /* 10 * 2.2 = 22px */

}
.hentry footer {
  font-size: 1.8em;
  padding-bottom: 56px;
  border-top: 1px solid #eee;
  padding-top: 28px;
}
